.analytics-sidenav {
  width: 250px;
  padding: 10px;
}

.active-link {
  font-weight: bold;
  background-image: linear-gradient(to right, #3b82f6, #8b5cf6, #f87171);
}

.analytics-container {
  background-color: transparent !important;
  color: white;
  padding: 2rem 10rem 2rem 2rem;
}

::ng-deep mat-sidenav-container {
  background-color: transparent !important;
}

::ng-deep .mat-drawer-content {
  background-color: transparent !important;
}
